{{#partial "head"}}
    <link href="/css/recipe-detail.css" rel="stylesheet">

    {{#unless completed}}
        <script src="/js/steps/templates.js"></script>
        <script src="/js/steps/step.js"></script>
        {{#if authorizedUser}}
        <script src="/js/recipes/recipe.js"></script>
        {{/if}}
    {{/unless}}
{{/partial}}

{{#partial "contents"}}
    {{#recipe}}
    <div class="error-msg-box notification has-text-centered is-danger invisible"></div>
    <div class="recipe" data-recipe-id="{{id}}">
        <section class="hero is-fullwidth hero-recipe-info is-medium">
            <div class="hero-body">
                <div class="container">
                    <article class="columns">
                        <div class="column column-recipe-info child-vertical-align">
                            <h2 class="recipe-title-container has-text-weight-bold">
                                {{#if authorizedUser}}
                                    <textarea class="is-size-1 recipe-title-input has-text-weight-bold" rows="1" maxlength="15">{{name}}</textarea>
                                {{else}}
                                    <span class="recipe-title is-size-1">{{name}}</span>
                                {{/if}}
                            </h2>
                            <p class="recipe-owner is-size-5">
                                <i class="fas fa-user"></i>by {{owner.name}}
                            </p>
                            <p class="category is-size-5">
                                <i class="fas fa-tag"></i>{{category.title}}
                            </p>
                        </div>
                        <div class="column is-one-third">
                            <div class="recipe-img-upload-container">
                                {{#if authorizedUser}}
                                    <input type="file" accept="image/*" style="height:400px;" name="recipe-img-upload" id="recipe-img-upload" class="img-upload">
                                    <label for="recipe-img-upload" class="has-text-centered" style="background-image: url({{imgUrl}})">{{#unless imgUrl}}이미지를 업로드하려면 클릭하세요{{/unless}}</label>
                                    <button class="button btn-recipe-image-modify btn-green is-fullwidth">레시피 정보 수정하기</button>
                                {{else}}
                                    <img class="recipe-img" src="{{imgUrl}}">
                                {{/if}}
                            </div>
                        </div>
                    </article>
                </div>

            </div>
        </section>
        <div class="section">
            <div class="container">
                <div>{{content}}</div>

                {{#unless completed}}
                    <div class="step-container">
                        {{#if firstOffers}}
                            {{> recipe/stepOffer offers=firstOffers}}
                        {{/if}}

                        {{> recipe/addBtn id="null"}}
                    </div>
                {{/unless}}

                {{#recipeSteps}}
                    {{> recipe/step}}
                {{/recipeSteps}}

            </div>
            {{#if authorizedUser}}
            <div class="container has-text-centered">
                <button class="button is-large btn-recipe-complete btn-green" id="btn-recipe-complete">레시피 완성하기</button>
            </div>
            {{/if}}
        </div>
    </div>
    {{/recipe}}
{{/partial}}

{{> base}}