<div class="step-inner-container{{#if hidden}} hidden{{/if}}" data-step-id="{{id}}">
{{#eqnot offerType "APPEND"}}
    <p class="subtitle one-line-ellipsis">{{name}}</p>
{{/eqnot}}
    <div class="columns{{#eq offerType "MODIFY"}} step-offer{{/eq}}" data-step-id="{{id}}">
        <div class="column is-one-third">
            {{#if imgUrl}}
                <img class="step-img" src="{{imgUrl}}" alt="{{name}}">
            {{else}}
                <img class="step-img" src="/img/recipe-default.png" alt="{{name}}">
            {{/if}}
        </div>
        <div class="column step-article-container">
            <div class="step-contents-container">
                <ol class="step-contents">
                    {{#content}}
                        <li>
                            <p class="one-line-ellipsis">{{.}}</p>
                        </li>
                    {{/content}}
                </ol>
            </div>
        </div>
        <div class="column is-one-fifth">
            {{#eq recipe.owner user}}
                {{#eq offerType "APPEND"}}
                    <button class="btn-approve button is-success">승인</button>
                {{/eq}}
                {{#eq offerType "MODIFY"}}
                    <button class="btn-approve button is-success">OK</button>
                {{/eq}}
                {{#eq writer user}}
                    <div class="is-clearfix">
                        <div class="btn-step-modify icon is-pulled-right {{#if hidden}} hidden{{/if}}">
                            <i class="fas fa-edit fa-2x"></i>
                        </div>
                    </div>
                {{/eq}}
            {{/eq}}
            <div class="ingredient"></div>
        </div>
    </div>
</div>