<article class="box{{#if hidden}} hidden{{/if}}" data-step-id="{{id}}">
    <div class="columns">
        <div class="column is-one-third">
            {{#if imgUrl}}
                <img class="step-img" src="{{imgUrl}}" alt="{{name}}">
            {{else}}
                <img class="step-img" src="/img/recipe-default.png" alt="{{name}}">
            {{/if}}
        </div>
        <div class="column step-article-container">
            <p class="subtitle one-line-ellipsis">{{name}}</p>
            <div class="step-contents-container">
                <ol class="step-contents">
                    {{#content}}
                        <li>
                            <p class="one-line-ellipsis">{{.}}</p>
                        </li>
                    {{/content}}
                </ol>
            </div>
        </div>
        <div class="column is-one-fifth">
            <div class="is-clearfix">
                <div class="btn-step-modify icon is-pulled-right fa-2x {{#if hidden}} hidden{{/if}}"><i
                        class="fas fa-edit"></i></div>
            </div>
            <div class="ingredient"></div>
        </div>
    </div>

    {{#unless completed}}
        <div class="shadow-wrapper">
            <div class="contributors-shadow"></div>
            <div class="contributors">
                <div class="contributor-container">
                    <div class="contributor main-contributor contributor-selected">
                        <div class="approved">Approved</div>
                        <i class="fas fa-user-circle fa-3x"></i>
                        <div>{{writer.name}}</div>
                    </div>
                </div>
                <div class="contributor-container">
                    <div class="contributor">
                        <i class="fas fa-user-circle fa-3x"></i>
                        <div>{{writer.name}}</div>
                    </div>
                </div>
                <div class="contributor-container">
                    <div class="contributor">
                        <i class="fas fa-user-circle fa-3x"></i>
                        <div>{{writer.name}}</div>
                    </div>
                </div>
                <div class="contributor-container">
                    <div class="contributor">
                        <i class="fas fa-user-circle fa-3x"></i>
                        <div>{{writer.name}}</div>
                    </div>
                </div>
                <div class="contributor-container">
                    <div class="contributor">
                        <i class="fas fa-user-circle fa-3x"></i>
                        <div>{{writer.name}}</div>
                    </div>
                </div>
                <div class="contributor-container">
                    <div class="contributor">
                        <i class="fas fa-user-circle fa-3x"></i>
                        <div>{{writer.name}}</div>
                    </div>
                </div>
                <div class="contributor-container">
                    <div class="contributor">
                        <i class="fas fa-user-circle fa-3x"></i>
                        <div>{{writer.name}}</div>
                    </div>
                </div>
                <div class="contributor-container">
                    <div class="contributor">
                        <i class="fas fa-user-circle fa-3x"></i>
                        <div>{{writer.name}}</div>
                    </div>
                </div>
                <div class="contributor-container">
                    <div class="contributor">
                        <i class="fas fa-user-circle fa-3x"></i>
                        <div>{{writer.name}}</div>
                    </div>
                </div>
                <div class="contributor-container">
                    <div class="contributor">
                        <i class="fas fa-user-circle fa-3x"></i>
                        <div>{{writer.name}}</div>
                    </div>
                </div>
            </div>
        </div>
    {{/unless}}
</article>