<article class="box{{#if hidden}} hidden{{/if}}" data-step-id="{{id}}">
    <div class="columns">
        <div class="column is-one-third">
            {{#if imgUrl}}
                <img class="step-img" src="{{imgUrl}}" alt="{{name}}">
            {{else}}
                <img class="step-img" src="/img/recipe-default.png" alt="{{name}}">
            {{/if}}
        </div>
        <div class="column step-article-container">
            <p class="subtitle one-line-ellipsis">{{name}}</p>
            <div class="step-contents-container">
                <ol class="step-contents">
                    {{#content}}
                        <li>
                            <p class="one-line-ellipsis">{{.}}</p>
                        </li>
                    {{/content}}
                </ol>
            </div>
        </div>
    </div>

    {{#unless completed}}
        <div class="step-contributors">
            <div class="step-contributors-shadow"></div>
        <div class="speech-bubble-triangle"></div>
            <div class="step-contributor main-contributor">
                <span class="approved">Approved</span>
                <i class="fas fa-user-circle fa-3x"></i>
                <div>{{writer.name}}</div>
            </div>
            <div class="step-contributor">
                <i class="fas fa-user-circle fa-3x"></i>
                <div>{{writer.name}}</div>
            </div>
            <div class="step-contributor">
                <i class="fas fa-user-circle fa-3x"></i>
                <div>{{writer.name}}</div>
            </div>
            <div class="step-contributor">
                <i class="fas fa-user-circle fa-3x"></i>
                <div>{{writer.name}}</div>
            </div>
            <div class="step-contributor">
                <i class="fas fa-user-circle fa-3x"></i>
                <div>{{writer.name}}</div>
            </div>
            <div class="step-contributor">
                <i class="fas fa-user-circle fa-3x"></i>
                <div>{{writer.name}}</div>
            </div>
            <div class="step-contributor">
                <i class="fas fa-user-circle fa-3x"></i>
                <div>{{writer.name}}</div>
            </div>
            <div class="step-contributor">
                <i class="fas fa-user-circle fa-3x"></i>
                <div>{{writer.name}}</div>
            </div>
        </div>
    {{/unless}}
</article>