{{#partial "contents"}}
<section class="section">
    <div class="container">
        <div class="columns is-multiline">
            {{#each recipes}}
            <div class="column is-one-third">
                <a href="/recipes/{{id}}">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="{{imgUrl}}" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <p class="title is-4 one-line-ellipsis">{{name}}</p>
                            <p class="subtitle is-6 one-line-ellipsis">{{owner.name}}</p>
                        </div>
                    </div>
                </a>
            </div>
            {{/each}}
        </div>
        <nav class="pagination is-centered" role="navigation" aria-label="pagination">
            <a href="{{baseUrl}}page={{paginationList.prev}}" class="pagination-previous">이전 페이지</a>
            <ul class="pagination-list">
                {{#each paginationList.items}}
                <li>
                    <a href="{{baseUrl}}page={{number}}" class="pagination-link {{#if current}}is-current{{/if}}"
                       aria-label="Goto page {{number}}">{{number}}</a>
                </li>
                {{/each}}
            </ul>
            <a href="{{baseUrl}}page={{paginationList.next}}" class="pagination-next">다음 페이지</a>
        </nav>
    </div>
</section>
{{/partial}}

{{>base}}