{{#partial "head"}}
<link href="/css/home.css" rel="stylesheet">
<script src="/js/category/category.js"></script>
{{/partial}}

{{#partial "contents"}}
    <div id="category-nav">
        <div id="category-box" class="container level menu-list">
            {{#each categories}}
                <p class="category has-text-centered column child-vertical-align" data-category-id={{id}}>{{title}}</p>
            {{/each}}
        </div>
    </div>
<section class="section">
    <div class="container">
        <div class="columns is-multiline">
            {{#each recipes}}
            <div class="column is-one-third">
                <a href="/recipes/{{id}}">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="{{imgUrl}}" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="card-content-detail">
                                <p class="title is-4 one-line-ellipsis">{{name}}</p>
                                <p class="subtitle is-6 one-line-ellipsis">{{owner.name}}</p>
                                <div class="tags is-right">
                                    <span class="tag">{{category.title}}</span>
                                </div>
                            </div>
                            <nav class="level">
                                {{#if completed}}
                                <div class="level-item has-text-centered completed">
                                    <p class="subtitle is-6">완성</p>
                                </div>
                                {{else}}
                                <div class="level-item has-text-centered incompleted">
                                    <p class="subtitle is-6">진행중</p>
                                </div>
                                {{/if}}
                            </nav>
                        </div>
                    </div>
                </a>
            </div>
            {{/each}}
        </div>
        <nav class="pagination is-centered" role="navigation" aria-label="pagination">
            <a href="{{baseUrl}}page={{paginationList.prev}}" class="pagination-previous">이전 페이지</a>
            <ul class="pagination-list">
                {{#each paginationList.items}}
                <li>
                    <a href="{{baseUrl}}page={{number}}" class="pagination-link {{#if current}}btn-gray{{/if}}"
                       aria-label="Goto page {{number}}">{{number}}</a>
                </li>
                {{/each}}
            </ul>
            <a href="{{baseUrl}}page={{paginationList.next}}" class="pagination-next">다음 페이지</a>
        </nav>
    </div>
</section>
{{/partial}}

{{>base}}