{{#partial "head"}}
<link href="/css/recipe-detail.css" rel="stylesheet">
<script src="/js/steps/step.js"></script>
{{/partial}}

{{#partial "contents"}}
{{#recipe}}
<div class="section recipe" data-recipe-id="{{id}}">
    <div class="container">
        <div class="title is-1 has-text-centered">{{name}}</div>
        <div>{{content}}</div>

        <div class="step-container">
            {{#if firstOffers}}
                <div class="step-offers" data-step-id="null">
                    <div class="step-offer-title is-size-2"><i class="fas fa-bong"></i> Step Offers</div>
                    {{#firstOffers}}
                        <a class="hero is-info step-offer-title-bar">
                            <h1 class="title">{{name}} <span
                                    class="step-offer-open is-pulled-right"><i class="fas fa-angle-down"></i></span></h1>
                        </a>
                        <article class="box step-offer-content hidden">
                            <div class="columns">
                                <img src="{{imgUrl}}" alt="{{name}}" class="column is-one-third">
                                <div class="column">
                                    <div class="subtitle">{{name}}</div>
                                    <div class="step-contents-container">
                                        <ol class="step-contents">
                                            {{#content}}
                                                <li>{{.}}</li>
                                            {{/content}}
                                        </ol>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="speech-bubble-triangle"></div>
                                <div></div>
                                <span>{{writer.name}}</span>
                            </div>
                        </article>
                    {{/firstOffers}}
                </div>
            {{/if}}
        <button class="btn-step-add" data-step-id="null">
            <i class="fas fa-plus-circle fa-4x"> Step 추가 제안하기</i>
        </button>

        </div>
        {{#recipeSteps}}
        <div class="step-container">
        <h1 class="step-title is-size-2 has-text-weight-bold"><i class="fas fa-utensils fa-2x"></i>Step {{@index_1}}</h1>
        <article class="box" data-step-id="{{id}}">
            <div class="columns">
                <img src="{{imgUrl}}" alt="{{name}}" class="column is-one-third">
                <div class="column">
                    <div class="subtitle">{{name}}</div>
                    <div class="step-contents-container">
                        <ol class="step-contents">
                            {{#content}}
                            <li>{{.}}</li>
                            {{/content}}
                        </ol>
                    </div>
                </div>
            </div>
            <div>
                <div class="speech-bubble-triangle"></div>
                <div></div>
                <span>{{writer.name}}</span>
            </div>
        </article>
        {{#if offers}}
        <div class="step-offers" data-step-id="{{id}}">
            <div class="step-offer-title is-size-2"><i class="fas fa-bong"></i> Step Offers</div>
            {{#offers}}
                <a class="hero is-info step-offer-title-bar">
                    <h1 class="title">{{name}} <span
                            class="step-offer-open is-pulled-right"><i class="fas fa-angle-down"></i></span></h1>
                </a>
                <article class="box step-offer-content hidden">
                    <div class="columns">
                        <img src="{{imgUrl}}" alt="{{name}}" class="column is-one-third">
                        <div class="column">
                            <div class="subtitle">{{name}}</div>
                            <div class="step-contents-container">
                                <ol class="step-contents">
                                    {{#content}}
                                        <li>{{.}}</li>
                                    {{/content}}
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="speech-bubble-triangle"></div>
                        <div></div>
                        <span>{{writer.name}}</span>
                    </div>
                </article>
            {{/offers}}
        </div>
        {{/if}}
        <button class="btn-step-add" title="스텝 추가하기" data-step-id={{id}}>
            <i class="fas fa-plus-circle fa-4x"> Step 추가 제안하기</i>
        </button>
        </div>
        {{/recipeSteps}}
    </div>
</div>
{{/recipe}}
{{/partial}}

{{> base}}